@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Playfair Display', serif;
    background-color: #e3dcd2;
    color:#100c0d;
}

/** navigation menu & carousel filters*/

.nav-link {
    font-size: 1.2rem;
    margin-left: 20px;
}

.navbar {
    position: relative;
    background-color: #100c0d;
    opacity: 0.7;
    z-index: 9999;
}

#imgFilter {
        filter:sepia(50%);
        filter: brightness(50%);
}

.btn-primary {
    background-color: #CC8B65;
    border-color: #CC8B65;
}

/* /////  button for all pages  /////*/
.btn-all { 
    border-color: #CC8B65; 
    background-color: #CC8B65; 
    color:#f8f8f8;
    }

.btn-all:hover, .btn-all:active,.btn-all:visited { 
    border-color: #815841; 
    background-color: #815841;
    }

.btn-all a { 
    color:#f8f8f8;
    } 

.btn-all a:link { 
    text-decoration: none; 
    }
/* /////  button for all pages end /////*/